:root{
    --pseudo-height: 1000px;
    }

    .realizations-container::after{
     height: var(--pseudo-height);
    }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif; */

}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

button{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 150%;
    padding: 12px 24px 14px 24px;
    border: none;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}

button:active{
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
}

.main-container{
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
}

.navbar{
    margin: 0 89px;
    height: 72px;
    display: flex;
    align-items: center;
}

.navbar-nav{
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-container{
    display: flex;
    min-width: 442px;
}

.nav-item:hover{
    cursor: pointer;
}

.nav-item{
    position: relative;
}

.nav-item::after{
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgb(27, 91, 49);
    width: 0%;
    content: "";
    height: 2px;
    transition: all 0.5s;
  }

.nav-item:hover::after {
    width: 80%;
  }

.nav-link{
    padding: 0 !important;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: rgb(0, 0, 0);
}

.header-navbar{
    min-width: 442px;
    display: flex;
    justify-content: end;
}

.main-navbar{
    width: 442px;
}

.navbar img{
    height: 19px;
    width: auto;
}

.search-item{
    width: auto;
}

.search-form{
    margin-left: 0;
}

.search-form{
    height: 24px;
    margin-left: 10px;
    width: 200px;
    border: 1px solid rgb(218, 218, 218);
    padding-left: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form-control, .form-control:focus {
    border: none;
    box-shadow: none;
    padding: 0;
}

.hidden{
    display: none;
}

.dropdown-menu{
    background-color: rgb(245, 240, 236);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: rgb(0, 0, 0);
}

/*Intro section CSS*/
.intro{
    background-color: rgb(220, 193, 171);
    width: 100%;
}

.intro-container{
    margin-left: 89px;
    height: 737px;
}

.intro-left{
    height: 737px;
    display: flex;
    align-items: center;
    z-index: 999;
}
.intro-left-content{
    width: 599px;
    height: 448px;
    text-align: left;
}

.intro-title{
    height: 210px;
}

.intro-title h1{
    font-size: 60px;
    font-weight: 00;
    line-height: 70px;
    font-family: 'Montserrat', sans-serif;
}

.intro-paragraph{
    margin-top: 44px;
    height: 72px;
}

.intro-paragraph p{
    width: 489px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.intro-btns{
    display: flex;
    justify-content: space-between;
    width: 493px;
    height: 50px;
    margin-top: 72px;
}

.intro-btns button:first-of-type{
    background-color: rgb(27, 91, 49);
    color: rgb(255, 255, 255);
    line-height: 150%;
}

.intro-btns button:last-of-type{
    color: rgb(27, 91, 49);
    background-color: transparent;
    border: 1px solid rgb(27, 91, 49);
    line-height: 150%;
}

.intro-arrow-down, .arrow{
    height: 16px;
    width: 16px;
}

.intro-right{
    position: absolute;
    height: 737px;
    right: 0;
    top: 72px;
}

.intro-img{
    height: 100%;
    overflow: hidden;
}

.intro-img img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.intro-arrow{
    position: absolute;
    right: 0;
    top: -96px;
    width: 192px;
    height: 96px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(245, 240, 236);
    z-index: 9999;
}

.intro-arrow-left, .intro-arrow-right{
    width: 48px;
}

.intro-arrow-left:hover, .intro-arrow-right:hover{
    cursor: pointer;
}

/*Ofert section CSS*/
.ofert{
    width: 100%;
    position: relative;
}

.row-title{
    background-color: rgb(245, 240, 236);
    display: flex;
    justify-content: center;
    padding: 120px 0 0 0px;
}

.ofert-title-container{
    height: 193px;
    width: 1040px;
    padding: 0;
    position: relative;
    left: -10%;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.ofert-title{
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: rgb(27, 91, 49);
    line-height: 150%;
}

.ofert-title-container h1{
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 115%;
}

.ofert-title-container span{
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 500;
    line-height: 115%;
}

.ofert-title-container p:last-child{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    width: 709px;
    margin-top: 32px;
    line-height: 150%;
    letter-spacing: -0.2px;
}

.row-cards{
    display: flex;
    justify-content: center;
    padding: 96px 88px 160px 88px;
    background-color: rgb(245, 240, 236);
}

.ofert .row-content{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-card{
    width: 378px;
    height: 370px;
    margin: 5px;
    opacity: 0;
    position: relative;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.card{
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.show-card{
    width: 378px;
    opacity: 1;
    left: 0;
    transform: rotateY('360');
    -webkit-transform: rotateY('360');
    -moz-transform: rotateY('360');
    -ms-transform: rotateY('360');
    -o-transform: rotateY('360');
    -webkit-transform: rotateY(360deg);
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    background-color: rgba(220, 193, 171, 0.25);
}

.card:hover > .card-body .card-body-link{
    bottom: calc(15% - 8px);
    position: absolute;
    width: 100%;
    left: 0;
    height: auto;
    justify-content: center;
    cursor: pointer;
}

.card:hover > .card-body .card-body-link a{
    font-size: 24px;
}

.card:hover > .card-body .card-link-arrow{
    bottom: calc(15% - 8px);
    height: 22px;
    width: 22px;
}

.card:hover > .card-body .card-img-top, .card:hover > .card-body p, .card:hover > .card-body h5{
    opacity: 0.2;
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.card-img-top{
    width: auto;
    height: 44px;
    margin-bottom: 32px;
}

.card-body h5{
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    line-height: 115%;
    letter-spacing: -2px;
    font-weight: 500;
}

.card-body p{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    line-height: 150%;
    letter-spacing: -0.5;
    font-weight: 500;
}

.card-body-link{
    height: 28px;
    display: flex;
    text-align: center;
}

.card-link{
    display: flex;
    align-items: center;
    color: rgb(27, 91, 49);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 1px solid rgb(27, 91, 49);
}

.card-link-arrow{
    margin-left: 10px;
    width: 16px;
    height: 16px;
}

/*About CSS section*/
.about{
    width: 100%;
    height: 720px;
}

.about-container{
    background-color: rgb(27, 91, 49);
    display: flex;
    height: 720px;
}

.about-row{
    height: 100%;
}

.about-left{
    margin-right: 32px;
    position: absolute;
    left: 0;
    height: 720px;
}

.about-img{
    height: 100%;
    margin-right: 32px;
    overflow: hidden;
}

.about-img img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    opacity: 0;
    position: relative;
    right: -100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

img.show-img{
    opacity: 1;
    right: 0;
}

.about-right{
    padding: 0;
    padding-left: 32px;
    display: flex;
    align-items: center;
    z-index: 999;
}

.about-right-container{
    width: 596px;
    height: 450px;
    padding-left: 96px;
    position: relative;
    left: -10%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.show-container{
    opacity: 1;
    left: 0;
}

.about-title{
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: rgb(245, 240, 236);
    line-height: 150%;
    letter-spacing: -0.2px;
}

.about-title-content{
    margin-bottom: 72px;
}

.about-title-content h1{
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 115%;
    letter-spacing: -1.5px;
    color: rgb(245, 240, 236);
}

.about-title-content span{
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 500;
    line-height: 115%;
    color: rgb(245, 240, 236);
}

.about-title-content p:last-child{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: rgb(245, 240, 236);
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 0;
    line-height: 150%;
    letter-spacing: -0.2px;
}

.about-right-container button{
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid rgb(245, 240, 236);
    color: rgb(245, 240, 236);
    margin-top: 0;
}

.realizations{
    width: 100%;
}

.realizations-container{
    height: 1824px;
    background-color: rgb(220, 193, 171);
    padding-top: 120px;
    position: relative;
    overflow: hidden;

}

.realizations-title-content{
    padding-left: 160px;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: rgb(27, 91, 49);
    line-height: 150%;
    letter-spacing: -0.2px;
}

.realizations-title-content h1{
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 115%;
    letter-spacing: -1.5px;
    color: rgb(0, 0, 0);
}

.realizations-title-content span{
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 500;
    line-height: 115%;
    color: rgb(0, 0, 0);
}

.photo-container{
    margin-top: 96px;
    margin-bottom: 44px;
}

.photo-container img{
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

img.show-img{
    opacity: 1;
}

.photo-container img:hover{
    cursor: pointer;
}

.realizations-container::after{
    content: "";
    position: absolute;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(214, 183, 158,0.0) 0%, 50%, rgba(220,193,171,1) 100%);
    left: 0;
    right: 0;
    bottom: 0;
}

.show-btn{
    position: absolute;
    width: 150px;
    display: flex;
    justify-content: center;
    left: calc(50% - 75px);
    bottom: 96px;
    z-index: 9999;
}

.realizations button{
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.popup{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: rgba(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-container{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-img{
    max-width: 85%;
    max-height: 85%;
}

.bi-x-square, .bi-arrow-left-square, .bi-arrow-right-square{
    color: rgb(255,255,255);
    font-size: 35px;
    position: absolute;
    top: 25px;
    right: 25px;
}

.bi-x-square:hover, .bi-arrow-left-square:hover, .bi-arrow-right-square:hover{
    cursor: pointer;
}

.bi-arrow-left-square{
    position: absolute;
    top: calc(50vh - 18px);
    left: 10%;
}

.bi-arrow-right-square{
    position: absolute;
    top: calc(50vh - 18px);
    right: 10%;
}


/*Contact section CSS*/
.contact{
    width: 100%;
}

.contact-container{
    height: 478px;
    background-color: rgb(245, 240, 236);
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

.contact-content{
    background-color: rgb(27, 91, 49);
    width: 1040px;
    padding: 120px 110px;
    display: flex;
    justify-content: space-between;
    color: rgb(245, 240, 236);
}

.contact-title-content{
    display: flex;
    align-items: end;
    position: relative;
    left: -10%;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.contact-title-content h1{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -1.5px;
    margin: 0;
}

.contact-title-content span{
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 400;
    line-height: 120%;
}

.instagram-block{
    width: 157px;
    height: 118px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: -100%;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.show-container{
    opacity: 1;
    left: 0;
}

.show-instagram{
    top: 0;
    opacity: 1;
}

.instagram-block button{
    background-color: rgb(245, 240, 236);
    color: rgb(27, 91, 49);
    padding: 10px 24px 12px 24px;
}

.instagram-block p{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: rgb(245, 240, 236);
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.2px;
}

footer{
    width: 100%;
}

.footer-container{
    padding: 80px 256px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

.footer-row-top{
    width: 1040px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-row-top-left{
    height: 100%;
    display: flex;
    align-items: center;
}

.giarddesign-footer{
    height: 19px;
}

.footer-row-top-right{
    display: flex;
    justify-content: center;
    color: rgb(245, 240, 236);
}

.footer-row-top-right p{
    align-self: center;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 150%;
    margin: 0;
}

.footer-row-top-right button{
    margin-left: 24px;
    background-color: rgb(27, 91, 49);
    color: rgb(245, 240, 236);
}

.empty-div{
    height: 124px;
    width: 100%;
}

.empty-div div:first-of-type{
    height: 62px;
    border-bottom: 1px solid rgb(245, 240, 236);
}

.footer-nav{
    height: 21px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    line-height: 150%;
    color: rgb(245, 240, 236);
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.footer-nav-right{
    width: 293px;
    display: flex;
    justify-content: space-between;
}

.footer-nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 379px;
}

.footer-nav li{
    list-style: none;
}

.footer-nav a{
    text-decoration: none;
    color: rgb(245, 240, 236);
}

.footer-row-bottom{
    color: rgb(245, 240, 236);
    display: flex;
    justify-content: space-between;
}

.made-by{
    width: 194px;
    display: flex;
    justify-content: space-between;
}

footer .logo{
    height: 23px;
}

@media(max-width: 1440px){
    .main-container{
        width: 100vw;
    }

    .intro{
        height: 51.2vw;
    }

    .intro-left{
        height: 51.2vw;
    }

    .intro-right{
        position: static;
        height: 51.2vw;
    }
}

@media(max-width: 1355px){
    .ofert{
        height: auto;
    }

    .col-card{
        width: 336px;
        height: 329px;
    }

    .card{
        padding: 43px 46px;
    }
}

@media(max-width: 1280px){
    .intro-left-content{
        width: 100%;
    }

    .intro-title h1{
        font-size: 52px;
    }

    .intro-btns{
        height: auto;
        max-width: 100%;
        flex-wrap: wrap;
    }

    .about-right-container{
        width: 531px;
        padding-left: 85px;
        display: flex;
        flex-direction: column;
    }

    .about-title-content{
        margin-bottom: 45px;
    }
}

@media(max-width: 1029px){
    .navbar{
        margin: 0 63px;
    }

    .intro-container{
        margin-left: 63px;
    }

    .intro-title h1{
        font-size: 42px;
    }

    .intro-paragraph{
        margin-top: 10px;
    }

    .intro-paragraph p{
        width: auto;
        font-size: 16px;
    }

    .intro-btns{
        margin-top: 30px;
    }

    .intro-btns button{
        margin-bottom: 10px;
    }

    .ofert-title-container{
        width: 740px;
    }

    .ofert .row-content{
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .col-card{
        margin-bottom: 12px;
    }

    .row-cards{
        padding: 98px 62px 160px 62px;
    }

    .about-right-container{
        padding: 0 10px 0 60px;
        display: flex;
        flex-direction: column;
    }

    .about-title-content{
        margin-bottom: 40px;
    }

    .about-title-content p:last-child{
        margin-top: 20px;
    }

    .footer-row-top{
        width: 739px;
    }
}

@media(max-width: 992px){
    .contact-container{
        height: auto;
    }

    header{
        position: relative
    }

    .navbar-collapse{
        display: block;
    }

    .navbar-nav{
        width: 100%;
    }

    .navbar-collapse{
        width: 250px;
        height: auto;
        position: absolute;
        top: 72px;
        right: 0;
        background-color: rgb(245, 240, 236);
        padding: 24px 0;
        z-index: 9999;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .dropdown-menu{
        background-color: rgb(220, 193, 171);
    }

    .nav-item:hover::after {
        width: 0%;
      }

    .navbar-nav{
        height: 100%;
        display: flex;
        align-items: center;
    }

    .nav-item{
        margin-bottom: 10px;
    }

    .navbar-toggler{
        position: absolute;
        right: 0;
        border: none;
    }

    .navbar-toggler-icon{
        height: 30px;
        width: 30px;
    }

    .navbar-toggler:focus{
        box-shadow: none;
    }
}

@media(max-width: 912px){
    .navbar{
        margin: 0 56px;
    }

    .intro-container{
        margin-left: 0;
        height: calc(100vh - 72px);
    }

    .intro-left-content{
        padding: 0 56px;
        height: 50vh;
    }

    .intro{
        height: auto;
    }

    .intro-left{
        width: 80%;
        height: 50vh;
    }

    .intro-left-content{
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .intro-right{
        width: 100%;
        min-height: 50vh;
    }

    .intro-btns{
        width: 100%;
        height: auto;
    }

    .intro-arrow{
        width: 121px;
        height: 61px;
        top: -61px;
    }

    .ofert-title-container {
        width: 554px;
        height: auto;
    }

    .ofert-title-container p:last-child{
        width: auto;
    }

    .about-right-container{
        height: 480px;
    }

    .about-title-content{
        margin-bottom: 40px;
    }

    .contact-content{
        padding: 120px 80px;
    }
}

@media (max-width: 820px) {
    .ofert .row-content{
        justify-content: center;
    }

    .about-right-container{
        height: 520px;
    }
}

@media (max-width: 768px) {
    .navbar{
        margin: 0 56px;
    }

    .intro-left{
        width: 100%;
    }

    .intro-btns{
        width: auto;
    }

    .row-title{
        padding: 0;
    }

    .row-cards{
        padding: 0 0 60px 0;
    }
    .ofert-title-container{
        width: 100%;
        padding: 60px;
    }

    .about{
        height: auto;
    }

    .about-container{
        height: auto;
    }

    .about-row{
        display: block;
        height: auto;
    }

    .about-left{
        position: static;
        height: 500px;
        width: 100%;
    }

    .about-img{
        margin-right: 0;
    }

    .about-right{
        display: block;
        width: 100%;
        height: auto;
        padding-left: 0;
    }

    .about-right-container{
        width: 100%;
        padding: 60px;
        height: auto;
    }

    .realizations-container{
        padding-top: 60px;
    }

    .realizations-title-content{
        padding-left: 60px;
    }

    .instagram-block{
        height: auto;
        margin-left: 2%;
    }

    .footer-content{
        width: 555px;
    }

    .footer-row-top{
        width: 555px;
        display: block;
        height: auto;
    }

    .footer-row-top-right{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .footer-nav{
        flex-direction: column;
    }

    .footer-nav ul{
        width: 100%;
    }

    .footer-nav-right{
        width: 100%;
    }

}

@media(max-width: 579px){
    .intro-left{
        height: 55vh;
    }
}

@media (max-width: 565px){
    .intro-left{
        height: 55vh;
    }

    .intro-left-content{
        padding: 10px;
    }

    .intro-title{
        height: 180px;
    }

    .intro-title h1{
        line-height: 60px;
    }

    .intro-paragraph p{
        font-size: 14px;
    }

   

    .contact-container{
        padding: 0;
    }
    .contact-content{
        padding: 60px;
        display: block;
    }

    .contact-title-content h1, .contact-title-content span{
        font-size: 32px;
    }

    .instagram-block{
        margin-top: 24px;
    }
    .footer-container{
        padding: 60px 0;
    }

    .footer-content{
        width: 80%;
    }

    .footer-row-top{
        width: auto;
    }

    .footer-row-top-right{
        display: block;
    }

    .footer-row-top-left{
        margin-bottom: 16px;
    }

    .footer-row-top-right p{
        margin-bottom: 21px;
    }

    .footer-row-top-right button{
        margin-left: 0;
    }

    .footer-row-bottom{
        display: block;
    }

    .copy-rights{
        margin-bottom: 10px;
    }

    .made-by{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 385px){

    .main-container h1, .main-container span{
        font-size: 34px;
    }

    .navbar{
        margin: 0 10px;
    }

    .intro-left{
        height: 55vh;
    }

    .intro-btns{
        margin-top: 0;
    }

    .ofert-title-container, .about-right-container{
        padding: 20px;
    }

    .main-container p:last-child{
        font-size: 12px;
    }

    .col-card{
        width: 250px;
        height: 244px;
        margin: 10px;
    }
    .card{
        padding: 14px 16px;
    }

    .card-img-top{
        height: 28px;
    }

    .card:hover > .card-body .card-body-link a{
        font-size: 18px;
    }

    .card:hover > .card-body .card-link-arrow{
        bottom: calc(15% - 8px);
        height: 16px;
        width: 16px;
    }

    .main-container h5{
        font-size: 24px;
    }

    button{
        font-size: 14px;
        line-height: 150%;
        padding: 10px 20px 12px 20px;
    }

}

@media (max-width: 335px){
    .realizations-title-content{
        padding-left: 20px;
    }
    .contact-content{
        width: 100%;
    }

    .contact-title-content h1{
        font-size: 28px;
    }

    .footer-nav ul, .footer-nav-right{
        flex-direction: column;
    }

    .footer-nav{
        height: auto;
        margin-bottom: 14px;
    }
}

@media (max-width: 305px){
    .intro-left{
        /* height: 55vh; */
    }

    .intro-title h1{
        font-size: 32px;
        line-height: 45px;
    }

    .intro-paragraph{
        margin-top: 10px;
    }
}



