/* :root{
    --intro-height: calc(1440px * 51%);
    }

.intro{
    height: var(--intro-height);
} */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif; */

}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(249, 249, 249);
    /* position: relative; */
}

button{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 150%;
    padding: 12px 24px 14px 24px;
    border: none;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}

.main-container{
    width: 1440px;
    background-color: blue;
}

header{
    background-color: rgb(183, 102, 4);
}

.navbar{
    margin: 0 89px;
    height: 72px;
    background-color: bisque;
    display: flex;
    align-items: center;
}

.navbar-nav{
    width: 100%;
    height: 24px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    border: 1px solid red;
}

.nav-link{
    padding: 0 !important;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: rgb(0, 0, 0);
}

.header-navbar{
    min-width: 442px;
    display: flex;
    justify-content: end;
    background-color: azure;
}

.navbar img{
    height: 19px;
    width: auto;
}

.intro{
    background-color: rgb(220, 193, 171);
    height: calc();
}

.intro-container{
    margin-left: 89px;
    height: 737px;
}

.intro-left{
    height: 737px;
    background-color: rgba(207, 21, 236, 1);
    display: flex;
    align-items: center;
    z-index: 999;
}
.intro-left-content{
    width: 599px;
    height: 448px;
    /* background-color: brown; */
    text-align: left;
}

.intro-title{
    background-color: aqua;
    height: 210px;
}

.intro-title h1{
    font-size: 60px;
    font-weight: 00;
    line-height: 70px;
    font-family: 'Montserrat', sans-serif;
}

.intro-paragraph{
    background-color: blue;
    margin-top: 44px;
    height: 72px;
}

.intro-paragraph p{
    width: 489px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.intro-btns{
    display: flex;
    justify-content: space-between;
    width: 493px;
    height: 50px;
    margin-top: 72px;
    background-color: aqua;
}



.intro-btns button:first-of-type{
    background-color: rgb(27, 91, 49);
    color: rgb(255, 255, 255);
    line-height: 150%;
}

.intro-btns button:last-of-type{
    color: rgb(27, 91, 49);
    background-color: transparent;
    border: 1px solid rgb(27, 91, 49);
    line-height: 150%;
}

.intro-arrow-down, .arrow{
    height: 16px;
    width: 16px;
}

.intro-right{
    position: absolute;
    height: 737px;
    right: 0;
    top: 72px;
}

.intro-img{
    /* background-color: rgba(2, 189, 36, 0.5); */
    height: 100%;
    overflow: hidden;
}

.intro-img img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}



.intro-arrow{
    position: absolute;
    right: 0;
    top: -96px;
    width: 192px;
    height: 96px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(245, 240, 236);
    /* align-items: center; */
    z-index: 9999;
}

.intro-arrow-left, .intro-arrow-right{
    width: 48px;
}


/*Ofert section CSS*/

.ofert{
    background-color: aqua;
    position: relative;
    min-height: 939px;
}

.ofert-container{
    /* width: 100%; */
    background-color: bisque;
}

.row-title{
    background-color: rgb(245, 240, 236);
    display: flex;
    justify-content: center;
    padding: 120px 0 0 0px;
}

.ofert-title-container{
    background-color: azure;
    height: 193px;
    width: 1040px;
    padding: 0;
}

.ofert-title{
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: rgb(27, 91, 49);
    line-height: 150%;
}

.ofert-title-container h1{
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 115%;
}

.ofert-title-container span{
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 500;
    line-height: 115%;
}

.ofert-title-container p:last-child{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    background-color: aquamarine;
    width: 709px;
    /* height: 72px; */
    margin-top: 32px;
    /* text-align: justify; */
    line-height: 150%;
    letter-spacing: -0.2px;
}

.row-content{
    background-color: blueviolet;
    padding: 96px 88px 160px 88px;
    display: flex;
    justify-content: space-between;
}

.col-card{
    padding: 0;
    width: 378px;
    height: 370px;
}

.card{
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.card-img-top{
    width: auto;
    height: 44px;
    margin-bottom: 32px;
}

.card-body h5{
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    line-height: 115%;
    letter-spacing: -2px;
    font-weight: 500;
}

.card-body p{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    line-height: 150%;
    letter-spacing: -0.5;
    font-weight: 500;
}

.card-body-link{
    height: 28px;
    display: flex;
    text-align: center;
}

.card-link{
    display: flex;
    align-items: center;
    color: rgb(27, 91, 49);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 1px solid rgb(27, 91, 49);
}

.card-link-arrow{
    margin-left: 10px;
    width: 16px;
    height: 16px;
}

/*About CSS section*/

.about-container{
    background-color: rgb(27, 91, 49);
    display: flex;
    height: 720px;
}

.about-row{
    background-color: aqua;
    height: 100%;
}

.about-left{
    background-color: rgb(52, 93, 93);
    margin-right: 32px;
    position: absolute;
    left: 0;
    height: 720px;
}

.about-img{
    height: 100%;
    margin-right: 32px;
    overflow: hidden;
}

.about-img img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.about-right{
    background-color: rgb(2, 174, 117);
    padding: 0;
    padding-left: 32px;
    display: flex;
    align-items: center;
    z-index: 999;
}

.about-right-container{
    background-color: rgb(85, 91, 1);
    width: 596px;
    height: 450px;
    padding-left: 96px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.about-title{
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: rgb(245, 240, 236);
    line-height: 150%;
    letter-spacing: -0.2px;
}

.about-title-content{
    margin-bottom: 72px;
}

.about-title-content h1{
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 115%;
    letter-spacing: -1.5px;
    color: rgb(245, 240, 236);
}

.about-title-content span{
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 500;
    line-height: 115%;
    color: rgb(245, 240, 236);
}

.about-title-content p:last-child{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: rgb(245, 240, 236);
    font-weight: 400;
    /* height: 72px; */
    margin-top: 40px;
    margin-bottom: 0;
    /* text-align: justify; */
    line-height: 150%;
    letter-spacing: -0.2px;
}

.about-right-container button{
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid rgb(245, 240, 236);
    color: rgb(245, 240, 236);
    margin-top: 0;
}

.realizations-container{
    height: 1824px;
    background-color: rgb(220, 193, 171);
    padding-top: 120px;
    position: relative;
    overflow: hidden;

}

.realizations-title-content{
    padding-left: 160px;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: rgb(27, 91, 49);
    line-height: 150%;
    letter-spacing: -0.2px;
}

.realizations-title-content h1{
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 115%;
    letter-spacing: -1.5px;
    color: rgb(0, 0, 0);
}

.realizations-title-content span{
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 500;
    line-height: 115%;
    color: rgb(0, 0, 0);
}

.photo-container{
    margin-top: 96px;
    margin-bottom: 44px;
}

.realizations-container::after{
    content: "";
    position: absolute;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(214, 183, 158,0.0) 0%, 50%, rgba(220,193,171,1) 100%);
    left: 0;
    right: 0;
    bottom: 0;
    height: 1000px;
}

.realizations-btns{
    position: absolute;
    width: 150px;
    display: flex;
    justify-content: center;
    left: calc(50% - 75px);
    bottom: 96px;
    z-index: 9999;
}

.realizations button{
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);

}

/*Contact section CSS*/

.contact-container{
    height: 478px;
    background-color: rgb(245, 240, 236);
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

.contact-content{
    background-color: rgb(27, 91, 49);
    width: 1040px;
    padding: 120px 110px;
    display: flex;
    justify-content: space-between;
    color: rgb(245, 240, 236);
}

.contact-title-content{
    background-color: rgb(123, 94, 57);
    display: flex;
    align-items: end;
}

.contact-title-content h1{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -1.5px;
    margin: 0;
}

.contact-title-content span{
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 400;
    line-height: 120%;
}


.instagram-block{
    width: 157px;
    height: 118px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.instagram-block button{
    background-color: rgb(245, 240, 236);
    color: rgb(27, 91, 49);
    padding: 10px 24px 12px 24px;
}

.instagram-block p{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: rgb(245, 240, 236);
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.2px;
}

.footer-container{
    padding: 80px 256px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

.footer-row-top{
    background-color: rgb(119, 110, 98);
    width: 1040px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-bottom: 87px; */
}



.footer-row-top-left{
    background-color: aqua;
    height: 100%;
    display: flex;
    align-items: center;
}

.giarddesign-footer{
    height: 19px;
    background-color: blueviolet;
}

.footer-row-top-right{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    color: rgb(245, 240, 236);
    background-color: aqua;
}

.footer-row-top-right p{
    align-self: center;
    background-color: rgb(120, 120, 198);
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 150%;
    margin: 0;
}

.footer-row-top-right button{
    margin-left: 24px;
    background-color: rgb(27, 91, 49);
    color: rgb(245, 240, 236);
}

.empty-div{
    height: 124px;
    width: 100%;
}

.empty-div div:first-of-type{
    height: 62px;
    border-bottom: 1px solid rgb(245, 240, 236);
}

.footer-nav{
    height: 21px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    line-height: 150%;
    color: rgb(245, 240, 236);
    background-color: rgb(5, 98, 98);
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.footer-nav-right{
    width: 293px;
    background-color: rgb(64, 102, 7);
    display: flex;
    justify-content: space-between;
}

.footer-nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    padding: 0;
    width: 379px;
}

.footer-nav li{
    list-style: none;
}

.footer-nav a{
    text-decoration: none;
    color: rgb(245, 240, 236);

}

.footer-row-bottom{
    background-color: blueviolet;
    color: rgb(245, 240, 236);
    display: flex;
    justify-content: space-between;
}

.made-by{
    width: 194px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(57, 75, 75);
}

footer .logo{
    height: 23px;
}

/* .ofert{
    position: relative;
    background-color: rgb(245, 240, 236);
    height: 939px;
}

.ofert-container{
    width: 100%;
    height: 100%;
    padding: 120px 0 160px 0;
    background-color: aqua;
}

.row-test{
    background-color: rgb(84, 109, 109);
    margin-left: 73px;
    margin-top: 0px;
    margin-right: 0;
}

.col-empty{
    background-color: rgb(74, 243, 32);
} */

@media(max-width: 1440px){
    .intro{
        height: 51.2vw;
    }

    .intro-left{
        height: 51.2vw;
    }

    .intro-right{
        position: static;
        height: 51.2vw;
        /* width: 100%; */
        /* left: 0; */

    }
}